@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.fab {
  font-size: 16px;
  padding: 5px;
}
.fa-chevron-right {
  margin-right: 8px;
}
.fa-check-circle {
  margin-right: 4px;
  color: green;
}
/************** Navigation Bar **************/
#navbar {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  position: absolute;
  z-index: 10;
}
#navbar .navbar-brand,
#navbar .navbar-brand-sub {
  display: block;
}
#navbar .navbar-brand {
  font-size: 22px;
}
#navbar .navbar-brand-sub {
  font-size: 7px;
}
@media (max-width: 768px) {
  #navbar img,
  #navbar .navbar-brand {
    display: inline;
  }
  #navbar {
    padding: 0 !important;
  }
}
@media (max-width: 500px) {
  #navbar img {
    margin-right: 0 !important;
  }
}

/************** Banner Section **************/

.banner {
  position: relative;
  background: url(../images/team/team-background.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0 200px;
}
.banner-content p {
  font-size: 1.4em;
}
.banner-content h2 {
  font-size: 4em !important;
}
.banner-btn {
  background: #ec1313;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center !important;
  text-decoration: none !important;
}
.banner-btn:hover {
  color: #fff;
}
@media (max-width: 500px) {
  .banner-content p {
    font-size: 1em;
  }
  .banner-content h2 {
    font-size: 3em !important;
  }
}

/************** Teams Section **************/
.ceo {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ceo .wrapper {
  height: 300px;
  width: 260px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}
.ceo .wrapper .card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.ceo .wrapper .front-face {
  backface-visibility: hidden;
}
.ceo .wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}
.ceo .wrapper .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.ceo .wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.ceo .wrapper:hover > .back-face {
  transform: rotateY(0deg);
}
.ceo .wrapper .back-face img {
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #ec1313, #2ede98);
}
.ceo .wrapper .back-face .info {
  text-align: center;
}
.ceo .back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}
.ceo .back-face ul {
  display: flex;
}
.ceo .back-face ul a {
  display: block;
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #ec1313, #ec1313);
  transition: all 0.5s ease;
}
.ceo .back-face ul a:hover {
  color: #ec1313;
  border-color: #ec1313;
  background: linear-gradient(375deg, transparent, transparent);
}

/************** Teams Section **************/
.meetTheTeam {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}
.meetTheTeam .wrapper {
  height: 350px;
  width: 280px;
  margin: 20px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}
.meetTheTeam .wrapper .card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.meetTheTeam .wrapper .front-face {
  backface-visibility: hidden;
}
.meetTheTeam .wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}
.meetTheTeam .wrapper .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.meetTheTeam .wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.meetTheTeam .wrapper:hover > .back-face {
  transform: rotateY(0deg);
}
.meetTheTeam .wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #ec1313, #2ede98);
}
.meetTheTeam .wrapper .back-face .info {
  text-align: center;
}
.meetTheTeam .back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}
.meetTheTeam .back-face ul {
  display: flex;
}
.meetTheTeam .back-face ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #ec1313, #ec1313);
  transition: all 0.5s ease;
}
.meetTheTeam .back-face ul a:hover {
  color: #ec1313;
  border-color: #ec1313;
  background: linear-gradient(375deg, transparent, transparent);
}

/************** To be hired Section **************/

.vacancy {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}
.vacancy .wrapper {
  height: 350px;
  width: 280px;
  margin: 20px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}
.vacancy .wrapper .card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.vacancy .wrapper .front-face {
  backface-visibility: hidden;
}
.vacancy .wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}
.vacancy .wrapper .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.vacancy .wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.vacancy .wrapper:hover > .back-face {
  transform: rotateY(0deg);
}
.vacancy .wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #ec1313, #2ede98);
}
.vacancy .wrapper .back-face .info {
  text-align: center;
}
.vacancy .back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}
.vacancy .back-face ul {
  display: flex;
  flex-direction: column;
}
.vacancy .back-face ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #ec1313, #ec1313);
  transition: all 0.5s ease;
}
.vacancy .back-face ul a:hover {
  color: #ec1313;
  border-color: #ec1313;
  background: linear-gradient(375deg, transparent, transparent);
}

/************** Contact Section **************/
#contact {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #ec1313;
  margin-bottom: 0 !important;
  padding: 1rem;
}
.contact-num {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact a {
  border: 1px solid #fff;
  padding: 15px 25px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
#contact a:hover {
  background-color: #fff;
  color: #ec1313;
}
@media (max-width: 768px) {
  #contact {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #contact a {
    border: 1px solid #fff;
    padding: 15px 15px;
  }
  #contact h1 {
    font-size: 24px;
  }
  #contact p {
    font-size: 14px;
  }
}

/************** Footer Section **************/
footer {
  margin-top: 0 !important;
}
footer h3 {
  color: #ec1313;
}
.footer-icons li {
  border: 1px solid;
  border-radius: 5%;
  margin-right: 2px !important;
  transition: 0.3s all ease-in-out;
}
.footer-icons a {
  color: #fff;
}
.footer-icons li:hover {
  background-color: #ec1313;
  border: none;
  transform: scale(1.1);
}
.important-links {
  line-height: 30px;
}
.important-links a {
  color: #fff;
}
.contact {
  line-height: 30px;
}
.contact a {
  color: #fff;
}
